h1{
							
   font-family:simplified arabic fixed;
							
   color:black;
							
   font-size:50px;
							
   text-align:center;
							
   border:solid;
							
   border-color:black;
							
  }
					

h2{
							
   font-family:"Lucida Console", Monaco, monospace;
							
   color:white;
							
   font-size:30px;
							
   text-align:center;
							
   }
					

p{
							
   font-family:Arial,Sans-serif;
							
   color:black;
							
   font-size:30px;
							
   text-align:center;
							
 }
					

p{

   color:black;
							
   font-family:Arial,Sans-serif;
							
   font-size:40px;
							
   text-align:center;
							
  }
					

.info {
					
            font family: Arial,Sans-serif;
					
	    color:black;
					
	    font-size: 20px;
					
	    column-count: 3;
					
 	    -webkit-column-count: 3;
					
 	    -webkit-column-gap: 40px;
					
	    -webkit-column-rule-style: dotted;
					
            -webkit-column-rule-color: black;
							
           }
